/* 
.header{
    width: 100%;
    height: 40px;
    background-color: #84ceeb;
}
.header-menu-button{
    font-size: 20px;
    float: right;
}
.header-menu{
    height: 100%;
}
.header-menu-button:hover{
    float: right;
    background-color: #5ab8eb;
}
a {
    color: #000;
}
.locale-button{
    height: 2em;
    background-color: #5ab8eb;
} */