
<div id="bg">
    <img src="../../../assets/images/bg.png" alt="">
</div>
<app-header></app-header>

<div class="buttons">
    <button class="choice-button" mat-raised-button color="primary" (click)="signup('organizer')">Create your first championship</button>
    <button class="choice-button" mat-raised-button color="primary" (click)="signup('representative')">Represent the best</button>
    <button class="choice-button" mat-raised-button color="primary" (click)="signup('participant')"> Participate and be the best</button>
</div>

<app-footer></app-footer>